.events-container {
  border: 1px solid crimson;

  div {
    border: 1px solid crimson;
  }

  .event-item {
    border: none;
    margin-bottom: 1rem;
    border: 1px solid crimson;

    p:first-child {
      margin-bottom: 0.2rem;
      border: 1px solid crimson;
    }

    p:last-child {
      margin-bottom: 0;
      text-transform: uppercase;
      font-weight: 600;
      border: 1px solid crimson;
    }
  }
}