@import 'src/assets/sass/variables';

.section-container {

  div, h3, img {
    border: 1px solid cornflowerblue;
  }

  .content-container {
    padding-top: 4rem;
    padding-bottom: 4rem;

    .section-title-container {
      margin-bottom: 3rem;

      .section-title-element {
        display: inline-block;
        width: 20%;
        margin-right: 5%;
        max-width: 6.5rem;

        @media (min-width: 576px) {
          margin-right: 1.5rem;
        }
      }

      .section-title {
        margin: 0;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        width: 75%;

        @media (min-width: 576px) {
          width: calc(100% - 8rem);
        }
      }
    }
  }
}