@import 'src/assets/sass/variables';

.section-container {

  div, h3, img {
    border: 1px solid cornflowerblue;
  }

  .content-container {
    margin-top: 4rem;
    margin-bottom: 4rem;

    .section-title-container {
      margin-bottom: 2rem;

      .section-title-element {
        display: inline-block;
        width: 20%;
        margin-right: 5%;
      }

      .section-title {
        margin: 0;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        width: 75%;
      }
    }
  }
}