@import "src/assets/sass/variables";

.newsletter-container {
  border: 1px solid orange;
  margin-left: auto;
  margin-right: auto;

  > div {
    border: 1px solid orange;
    margin: auto -0.4rem;
  }
}