@import "src/assets/sass/variables";

.chairman-container {
  background: $secondary;
  color: white;
  padding-top: 4rem;
  padding-bottom: 4rem;

  @media (min-width: 768px) {
    padding-top: 4.5rem;
  }

  @media (min-width: 992px) {
    padding-top: 6.5rem;
    padding-bottom: 6rem;
  }

  //div, h2, p {
  //  border: 1px solid white;
  //}

  .content-container {
    position: relative;

    @media (min-width: 992px) {
      padding: 0 5rem;
    }

    // Floating element
    // TODO: Can apply animation to it
    .float-element {
      position: absolute;
      display: none;
      max-width: 10rem;

      @media (min-width: 576px) {
        display: block;
        top: -6%;
        right: 2rem;
        width: 15%;
      }

      @media (min-width: 768px) {
        top: -6%;
      }

      @media (min-width: 992px) {
        right: 0;
        width: 15%;
      }
    }

    // Chairman information section
    .chairman-section {

      #chairman-info {
        padding-top: 1rem;
        padding-bottom: 1rem;

        @media (min-width: 576px) {
          padding-top: 0;
        }

        @media (min-width: 992px) {
          padding-top: 1rem;
        }

        #info-separator {
          border-top: 2px solid white;
          opacity: 1;
          width: 20%;
        }

        #chairman-name {
          font-size: 1.2rem;
        }

        #chairman-title {
          text-transform: capitalize;
          letter-spacing: 0.1rem;
          font-size: 0.9rem;
          max-width: 18rem;
        }
      }
    }

    // Information
    .section-info {
      padding-top: 2rem;
      position: relative;

      @media (min-width: 576px) {
        padding-top: 3rem;
      }

      @media (min-width: 992px) {
        padding: 0 3rem;
      }

      // Information title
      .section-title {
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        line-height: 2.5rem;
        max-width: 28rem;

        @media (min-width: 992px) {
          width: 80%;
        }
      }

      // Information content
      .section-content {
        padding: 1rem 0 2.5rem 0;
        letter-spacing: 0.1rem;
        max-width: 34rem;

        @media (min-width: 992px) {
          width: 85%;
          margin-top: 2rem;
        }
      }

      .animate-btn {

        @media (min-width: 992px) {
          position: absolute;
          right: 6rem;
          bottom: 2rem;
        }

        .animate-btn-container {

          @media (min-width: 992px) {
            position: relative;
            display: flex;
            height: 6rem;
            justify-content: center;
            align-items: center;
          }

          #animate-element {
            display: none;
            position: absolute;

            @media (min-width: 992px) {
              display: block;
              height: 100%;
              left: -2.4rem;
            }
          }

          #read-message-btn {
            border: 1px solid white;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 1.2rem;
            letter-spacing: 0.2rem;
            background: white;
            color: $secondary;
            padding: 0.5rem 0.5rem;
            border-radius: 0.5rem;
            font-weight: 600;

            @media (min-width: 992px) {
              color: white;
              background: transparent;
              padding: 0;
              font-size: 1.5rem;
              border: none;
            }
          }
        }
      }
    }
  }
}