@import 'src/assets/sass/variables';

.nav-container {
  background: white;
  position: fixed;
  top: 0;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;

  transition: background-color 0.5s;
  transition-timing-function: ease-out;

  @media (min-width: 992px) {
    background: transparent;
  }

  .navbar {
    padding: 1rem 0;

    // Collapse menu
    .navbar-collapse {
      padding-top: 1rem;

      @media (min-width: 992px) {
        padding-top: 0;
      }
    }

    // Brand logo
    .destech-logo {
      width: 3rem;
    }

    // Menu Items
    .nav-link {
      text-transform: uppercase;
      color: $secondary;
      font-weight: 500;

      @media (min-width: 992px) {
        padding-right: 1rem;
        padding-left: 1rem;
      }

      &:hover {
        color: $primary;
      }
    }

    // Toggler style
    .navbar-toggler {

      &:focus, &:active {
        outline: none;
        box-shadow: none;
      }
    }
  }
}

// Fixed navbar style after scroll
.fixed-navbar {
  background: $secondary;
  transition: background-color 0.5s;
  transition-timing-function: ease-in;

  .navbar {
    .nav-link {
      color: white;
    }
  }

  .fa-bars {
    color: white;
    transition: color 0.5s;
  }
}