@import "src/assets/sass/variables";

.footer {
  margin-top: 4rem;
  background: $secondary;
  color: white;
  padding: 2rem 0;
  text-align: center;

  p {
    letter-spacing: 0.1rem;
  }

  .logo-container {
    padding: 1rem 2rem 2rem 2rem;
    text-align: center;

    @media (min-width: 768px) {
      text-align: right;
    }

    img {
      max-width: 8rem;

      &:last-child {
        margin-left: 2rem;
      }
    }
  }
}