@import "src/assets/sass/variables";

.shape-container {

  //TODO: Change shape size based on screen ratio

  // Overall styling for shape container
  $shape-size: 14rem;
  $one-half-shape-size: calc( #{$shape-size} / 2 );
  $one-fourth-shape-size: calc( #{$shape-size} / 4 );
  $neg-one-fourth-shape-size: calc( #{$shape-size} / -4 );

  position: relative;
  width: calc(#{$shape-size} * 0.75);
  height: $shape-size;
  color: white;

  .shape-before {
    position: absolute;
    top: 0;
    left: $neg-one-fourth-shape-size;
    border-top: $one-half-shape-size solid transparent;
    border-bottom: $one-half-shape-size solid transparent;
    border-right: $one-fourth-shape-size solid $primary;
  }

  .shape-after {
    position: absolute;
    top: 0;
    right: $neg-one-fourth-shape-size;
    border-top: $one-half-shape-size solid transparent;
    border-bottom: $one-half-shape-size solid transparent;
    border-left: $one-fourth-shape-size solid $primary;
  }

  // Styling for image in shape container
  .img-container {
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    left: $neg-one-fourth-shape-size;
    width: calc((#{$shape-size} * 0.75) + #{$one-half-shape-size});
    clip-path: polygon( $one-fourth-shape-size 0, calc(100% - #{$one-fourth-shape-size}) 0, 100% 50%, calc(100% - #{$one-fourth-shape-size}) 100%, $one-fourth-shape-size 100%, 0 50% );
  }

  // Styling for thumbnail title when image is in place
  .thumbnail-title {
    position: absolute;
    bottom: 0;
    left: $neg-one-fourth-shape-size;
    width: calc((#{$shape-size} * 0.75) + #{$one-half-shape-size});
    padding: 0 $one-fourth-shape-size;
    height: $one-fourth-shape-size;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    color: white;
    text-align: center;
    clip-path: polygon(calc(#{$one-fourth-shape-size} / 2) 0, calc(100% - #{$one-fourth-shape-size} / 2) 0, calc( 100% - #{$one-fourth-shape-size} ) 100%, $one-fourth-shape-size 100%);
  }

  // Styling for title in shape container
  .shape-title {
    padding: 2rem 1rem 0 1rem;
  }

  // Styling for input area
  $shape-form-padding-lr: 0.8rem;
  $shape-form-font-size: 2rem;
  $shape-form-shape-one-half: calc(50px / 2);

  .shape-container-input {
    $padding-top: 2rem;

    padding: $padding-top $shape-form-padding-lr 0 $shape-form-padding-lr;
    position: relative;

    input {
      width: 100%;
      border: none;
      font-size: $shape-form-font-size;

      &:focus {
        outline: none;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: $padding-top;
      left: 0;
      z-index: 9999;
      border-top: $shape-form-shape-one-half solid transparent;
      border-bottom: $shape-form-shape-one-half solid transparent;
      border-right: $shape-form-padding-lr solid white;
    }

    &::after {
      content: "";
      position: absolute;
      top: $padding-top;
      right: 0;
      border-top: $shape-form-shape-one-half solid transparent;
      border-bottom: $shape-form-shape-one-half solid transparent;
      border-left: $shape-form-padding-lr solid white;
    }
  }

  // Styling for submit button
  .shape-container-button {
    $padding-lr: 1rem;

    display: inline-block;

    button {
      font-weight: 600;
      background: white;
      color: $primary;
      border-radius: 0;
      text-transform: uppercase;
    }
  }
}